@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFFFFF;
}

.logo {
    font-size: 32px;
    font-weight: 500;
    color: #F6B40D;
}

.menu_list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu_list li {
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 5px;
}

.menu_list li a {
    text-decoration: none;
    margin-right: 20px;
    color: #1E4775;
    font-size: 18px;
    font-weight: 500;
}

.hero_container {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-bottom: 80px;
}

.hero_left_content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-top: 80px;
}

.hero_main_text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #1E4775;
}

.hero_description {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.sign_up_btn {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E4775;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sign_up_btn a {
    font-size: 22px;
    font-weight: 900;
    color: white;
}

.hero_right_content {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.image_placeholder {
    background: url(../images/Hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 70%;
    padding-bottom:35vh;
}

.product_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.product_header {
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #1E4775;
}

.food_items {
    list-style: none;
    display: flex;
    align-items: center;
}

.food_items li {
    cursor: pointer;
}

.food_items li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    color: #1E4775;
    font-size: 18px;
}

.product_img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.testimonal_container {
    display: flex;
    flex-direction: column;
    background-color: #F6B40D;
    justify-content: center;
    padding: 60px 250px;
    margin-bottom: 80px;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.name {
    font-size: 22px;
    font-weight: 500;
    color: #000000;
}

.profile_img {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-right: 20px;
}

.testimony_text {
    font-size: 18px;
    color: #000000;
    font-weight: 400;
}

.inner_container {
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_container {   
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 26px;
    font-weight: 500;
    color: #1E4775;
    margin-bottom: 15px;
}

.sub_title {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.order_btn {
    background-color: #1E4775;
    color: white;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    margin-left: 60px;
    cursor: pointer;
}
